@import './footer.scss';

@mixin set-margin($direction, $value) {
    margin-#{$direction}: $value;
}

$primary-color: orange;

body {
    color: #BBB6B8;
}

.content {
    .title {
        font-size: 24px;
        color: $primary-color;
    }
    .title-lg {
        @extend .title;
        font-size: 32px;
    }
    @include set-margin(right, 16px);
    margin-right: 16px;
}

